// Define variables for your color scheme

// For example:
$red: #ee6f57;
$blue: #145374;
$yellow: #f6c90e;
$orange: #f8b400;
$dark-green: #004445;
$green: #2c786c;
$gray: #3a4750;
$light-gray: rgba(250, 245, 228, 0.5);
$dark-gray: #303841;



$environnement: #007944;

$bien-etre: #8cba51;

$jeunesse : #fa7d09;

$sport: #0a97b0;

$formation:#151965;

$culture: #6a197d;

$sante: #d92027;

$precarite: #2f3847;

$isolement: #393e46;

$personnes: #D8345F;
