// Define variables for your color scheme

// For example:
$red: #ee6f57;
$blue: #145374;
$yellow: #f6c90e;
$orange: #f8b400;
$dark-green: #004445;
$green: #2c786c;
$gray: #3a4750;
$light-gray: #faf5e4;
$dark-grey: #303841;
