// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;500;800;900&family=Hind+Guntur:wght@300;400;500;600&family=Oxygen:wght@300;700&display=swap");

// Define fonts for body and headers
$body-font: "Oxygen", "sans-serif";
$headers-font: "Fira Sans", "sans-serif";
$title-font: "Hind Guntur", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
