.dashboard > h2 {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 10px;
}

.dashboard > h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}

.dashboard p {
  font-size: 14px;
}

.dashboard .counter {
  padding: 6px 0 0 10px;
}
