.search-bar-index {
background-color: white;
transition: all 1s ease-in-out;
height:100%;
width: 240px !important;
position:relative;
padding: 0 8px;
  ul{
  list-style: none;
  margin-left:5px;
  padding:0px;
  }
}

.button-menu {
color:$green;
z-index: 1000;
position:absolute;
left:240px;
}

.button-menu-inactive {
left:0px !important;
}

.inactive {
  overflow: hidden;
  position:absolute;
  right: -100%;
}

.card-inactive {
  left: -100%
}

.map-cards {
 height:90vh;
}

.cause-list {
  .tous{
    font-weight: bold;
    &.active {
      border: 1px solid black;
      border-radius: 10px;
      padding: 0px 12px 0px 0px;
    };
  };
  .environnement{
    color:$environnement;
    &.active {
      border: 1px solid $environnement;
      border-radius: 10px;
      padding: 0px 12px 0px 0px;
    };
  };
  .bien{
    color: $bien-etre;
    &.active {
      border: 1px solid $bien-etre;
      border-radius: 10px;
      padding: 0px 12px 0px 0px;
    };
  };
  .jeunesse {
    color: $jeunesse;
    &.active {
      border: 1px solid $jeunesse;
      border-radius: 10px;
      padding: 0px 12px 0px 0px;
    };
  };
  .sport {
    color: $sport;
    &.active {
      border: 1px solid $sport;
      border-radius: 10px;
      padding: 0px 12px 0px 0px;
    };
  };
  .formation {
    color: $formation;
    &.active {
      border: 1px solid $formation;
      border-radius: 10px;
      padding: 0px 12px 0px 0px;
    };
  };
  .culture {
    color: $culture;
    &.active {
      border: 1px solid $culture;
      border-radius: 10px;
      padding: 0px 12px 0px 0px;
    };
  };
  .sante {
    color: $sante;
    &.active {
      border: 1px solid $sante;
      border-radius: 10px;
      padding: 0px 12px 0px 0px;
    };
  };
  .precarite {
    color: $precarite;
    &.active {
      border: 1px solid $precarite;
      border-radius: 10px;
      padding: 0px 12px 0px 0px;
    };
  };
  .isolement {
    color: $isolement;
    &.active {
      border: 1px solid $isolement;
      border-radius: 10px;
      padding: 0px 12px 0px 0px;
    };
  };
  .personnes {
    color: $personnes;
    &.active {
      border: 1px solid $personnes;
      border-radius: 10px;
      padding: 0px 12px 0px 0px;
    };
  };
}


