.search-bar-index {
background-color: white;
// position: absolute;
transition: all 1s ease-in-out;
height:600px;
padding:10px;
  ul{
  list-style: none;
  padding-left:15px;
  }
}

.inactive{
  position: absolute;
}

