// yizhu: css for homepage

// banner image setting
.banner-hood {
  height: 600px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

// Commit Hood title setting, relative position
.app-title {
  h1 {
    color: $orange;
    font-weight: 600;
    font-size: 52px;
    // text-shadow: 0px 3px 10px black;
  };
  h3 {
    color: white;
    font-family: "Fira Sans", "sans-serif";
    // text-shadow: 0px 3px 10px black;
  }
}

// navbar for home
#logo-navbar-all {
  display: none;
}

#navbar-home{
  transition: 0.5s background-color ease;
}

.search-bar {
  padding: 5px;
  background-color: white;
  .select2 {
    border-color: white !important;
  }
  .search-select {
    padding: 0px !important;

  }
  #event-address {
    border: none !important;
    border-left: 1px solid #CCC !important
  }
  .select2-container--default .select2-selection--multiple {
    border: none !important;
    padding-top: 1% !important
  }
  // .select2-container--default .select2-selection--multiple {
  //   border: none !important;
  // }
  .ap-suggestion {
    text-align: left;
  }
}

// card design in the following:

.btn-green {
  position:absolute;
  bottom: -10px;right:10px;
}

#inspiration {
  display: flex;
  justify-content: center;
}
