// yizhu: css for homepage

// banner image setting
.banner-hood {
  height: 600px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

// Commit Hood title setting, relative position
.app-title {
  h1 {
    color: $orange;
    font-weight: 600;
    font-size: 52px;
    // text-shadow: 0px 3px 10px black;
  };
  h3 {
    color: white;
    font-family: "Fira Sans", "sans-serif";
    // text-shadow: 0px 3px 10px black;
  }
}

// navbar for home
#logo-navbar-all {
  display: none;
}

#navbar-home{
  transition: 0.5s background-color ease;
}

.search-bar {
  padding: 5px;
  background-color: white;
  .select2 {
    border-color: white !important;
  }
  .search-select {
    padding: 0px !important;

  }
  #event-address {
    border: none !important;
  }
  .select2-container--default .select2-selection--multiple {
    border: none !important;
    border-right: 1px solid #CCC !important
  }
  // .select2-container--default .select2-selection--multiple {
  //   border: none !important;
  // }
}

// card design in the following:

.card-event-home{
  img {
    position: relative;
  }
}
.card-text {
  position:relative;
}

.btn-green {
  position:absolute;
  bottom: -10px;right:10px;
}

.card-event-home {
  border-radius: 5px;
  border:none;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.card-date {
  font-size:12px;
  opacity: 0.8;
  bottom: -5px; left: 15px;
}

.card-body {
  .card-address {
  font-size: 14px !important;
  opacity: 0.9;
  }
}

#inspiration {
  display: flex;
  justify-content: center;
}
