// yizhu: css for homepage

// banner image setting
.banner-hood {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

// Commit Hood title setting, relative position
.app-title {
  h1 {
    position: absolute;
    top: 100px; left: 150px;
    color: $orange;
    font-weight: 600;
    font-size: 48px;
    text-shadow: 0px 3px 10px black;
  };
  h3 {
    position: absolute;
    top: 180px; left: 200px;
    color: white;
    text-shadow: 0px 3px 10px black;
  }
}

// search bar setting with abusolute position comparing with banner
.search-bar {
  position: absolute;
  bottom: 150px; right: 150px;
  #event-address { width: 24rem;

  }
}

// card design in the following:
.card-text {
  position:relative;
}

.btn-green {
  position:absolute;
  bottom: -10px;right:10px;
}

.card-event-home {
  border-radius: 5px;
  border:none;
  box-shadow: 0px 0px 6px $gray;
}

.card-date {
  font-size:12px;
  opacity: 0.8;
  position:absolute;
  bottom: -5px; left: 15px;
}
