#ngo-description {
  display: flex ;
  align-items: center;
  #avatar-ngo-description {
    margin: 0 20px 0 0px
  }
  h1 {
    margin-bottom: 0;
  }
  p {
    font-size: x-large;
  }
  .follow-me {
    padding: 40px;
    font-size: 30px;

  }
}
  // }
//     margin-top: 0px;
//     margin-bottom: 3rem;
//     padding: 0px 0px 0px 145px;

