#ngo-description {
  display: flex ;
  align-items: center;
  #avatar-ngo-description {
    margin: 0 20px 0 0px
  }
  h1 {
    margin-bottom: 0;
  }
  p {
    margin-top: 10px;
    font-size: 18px;
  }
  .follow-me {
    padding: 40px;
    font-size: 30px;
  }
}

