#events-details{
  padding: 14px 18px;
  margin: 8px 11px;
}

#ol-details {
  padding-left: 2px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 7px;
  margin-right: auto;
  margin-top: 25px;
  margin-left: auto;
  background-color: white;
}
