<!-- yizhu: add a container to all elements, with a row to display two sections -->
<div class="container">
  <div class="row">
    <!-- section of cards for events show, 50% of the larger -->
    <div class="col-6">
      <h3>event card will be here</h3>
    </div>

    <!-- section of map, 50% of the larger -->
    <div class="col-6">
      <h3>here will be the map</h3>
    </div>
  </div>
</div>
