<!-- yizhu: add a container to all elements, with a row to display two sections -->
<div class="container">
  <div class="row">
    <!-- yizhu: section of cards for events show, 50% of the larger -->
    <div class="col-6">
      <h3>event card will be here</h3>
      <!-- yizhu: insert events cards here -->
      <%= @events.each do |event| %>
        <div class="card-event">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-event-infos">
            <div>
              <h2><%= event.name %></h2>
              <p><%= event.description.truncate_words(20) %></p>
            </div>
            <h2 class="card-event-date">date begin -- date end</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    </div>

    <!-- section of map, 50% of the larger -->
    <div class="col-6">
      <h3>here will be the map</h3>
    </div>
  </div>
</div>
