<div class="container">
  <div class="row justify-content-md-center">

      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://d3926qxcw0e1bh.cloudfront.net/post_photos/9e/e9/9ee9ec850f5efffdbbe0544d3e6c0349.jpg.max578.jpg')">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered">


      </div>
    </div>
  </div>
