<div class="container">
  <div class="d-flex">
    <div class="col-3 mt-4">
      <!-- Kally : pending cloudinary -->
      <%# if current_user.photo.attached? %>
        <%#= cl_image_tag current_user.photo.key, class: "avatar-large user-photo m-3" %>
      <%# else %>
        <%= image_tag "https://oozou.com/assets/placeholder-e61f8e40396b6f3d78281bfa3b2d5ca202616f0e3f9931d451a49d4c2ddfcfea.jpg", alt: "empty-avatar", class: "avatar-large user-photo m-3" %>
      <%# end %>

        <p><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>

        <!-- Kally : add a class and pluralize / count each item -->
        <div class="dashboard">
          <p><i class="fas fa-calendar-check"></i> 0 participation</p>
          <p><i class="fas fa-bookmark"></i> 0 événement enregistré </p>
          <p><i class="fas fa-heart"></i> 0 association suivie</p>
        </div>
    </div>

    <div class="col-5 mt-5 dashboard">
      <!-- Kally : pending event features to count and display -->
      <h2><i class="fas fa-calendar-alt"></i> Mes événements</h2>
      <div class="d-flex align-items-center mr-4 dashboard">
        <h3>A venir </h3>
        <p class="counter text-muted">(0)</p>
      </div>
      <div class="d-flex align-items-center mr-4 dashboard">
        <h3>Terminés</h3>
        <p class="counter text-muted">(0)</p>
      </div>
    </div>

    <div class="col-5 mt-5 dashboard">
      <!-- Kally : pending favorite and follow features to count and display -->
      <h2><i class="fas fa-star"></i> Mes favoris</h2>
      <div class="d-flex align-items-center mr-4 dashboard">
        <h3>Evénements enregistrés</h3>
        <p class="counter text-muted">(0)</p>
      </div>
      <div class="d-flex align-items-center mr-4 dashboard">
        <h3>Associations suivies</h3>
        <p class="counter text-muted">(0)</p>
      </div>
    </div>

  </div>
</div>
