.avatar {
  border-radius: 50%;
}

#avatar-ngo {
  width: 80px;
  position: absolute;
  bottom: -35px; right: 20px;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-event {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-event-card {
  position: relative;
  bottom: 10px;
  right: 5px;
}

.avatar-home {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: relative;
  bottom: 20px;
}
