#like-event {

  color: $red;
}

#unlike {
  color: $red;
}


.card-event-home {
  .bookmark-like-red {
    position: absolute;
    top: 210px; right: 10px;
  }
}

.card-event-index {
  .bookmark-like-red {
    position: relative;
  }

  .fas.fa-bookmark {
  position: absolute;
  top: 12px; right: 20px;
  }

  .far.fa-bookmark {
  position: absolute;
  top: 12px; right: 20px;
  }
}
