.carousel-card-home {
  height: 700px;
  margin-top: 20px;
}

.card-event-infos-dashboard.card-event-info-home {
  position: relative;

}

.card-btn-home {
  position: absolute;
  // top:
}

.card-btn-home {
  margin-top: 0px !important;
  margin-left: 0px !important;
  left: 92px;
  top: -10px;
}

.content-info-home {
  margin-top: 30px;
}

.avatar-home {
  bottom: 30px !important;
}
