#map {
  position: relative;
}

.card-info-window {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  height:600px;
  width: 300px;
  position:absolute;
  right:0px;top:0px;
}


// .card-info-window.card-photo{
//   height: 200px;
// }

.card-info-window > img {
  height: 200px;
  object-fit: cover;
  position:relative;
  // &:hover{
  //   transform: scale(1.3);
  //   transition: all 300ms ease-in-out;
  // }
}

.card-info-window h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-info-window p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-info-window.card-info-window-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-info-window-infos .card-info-window-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-info-window-date {
  color: $dark-green;
  p {
    font-family:$title-font;
  }
}
