.map-cards {
  position: relative;
}

#card-info {
  position:absolute;
  right:-100%;
  top:0px;
  transition: all 1s ease-in-out;
  height:600px;
  width: 30%;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.card-info-window {
  overflow: hidden;
  background: white;
  width: 100%;
  height:600px;
  position:absolute;
  right:-100%;
  top:0px;
  padding:15px;
  transition: all 1s ease-in-out;
}

.active {
  right:0px !important;
}


// .card-info-window.card-photo{
//   height: 200px;
// }

.card-info-window {
  img {
    height: 200px;
    object-fit: cover;
    position:relative;
    width:100%;
    // &:hover{
    //   transform: scale(0.5) translate(-100%, -100%);
    //   transition: all 300ms ease-in-out;
    // }
  }
  .card-info-window-user{
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }
  .btn-join {
    position:absolute;
    bottom: 30px;
    right:10px;
  }
}

.card-info-window h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-info-window p {
  font-size: 12px;
  opacity: .7;
}


.card-info-window.card-info-window-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

// .card-info-window-infos .card-info-window-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

.card-info-window-date {
  color: $dark-green;
  p {
    font-family:$title-font;
  }
}
