.card-event-dashboard {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  padding: 0;
  margin: 20px 0px 20px 20px;
  width: 31%;
  .card-event-cover {
    img {
      height: 210px;
      width: 100%;
      object-fit: cover;
    }
  }
  .btn-warning {
    color: white !important;
  }
  .card-event-date {
    bottom: 22px;
    font-weight: bold;
    .avatar-event-card {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      border: white 1px solid;
      position: relative;
      bottom: 10px;
      left: 7px;
    }
    > p {
      margin-bottom: 0px;
    }
    .event-day-highlight {
      font-size: 30px;
      margin: -8px 0 -8px 0;
    }
  }
  .card-event-infos-dashboard {
    margin: 10px 0 15px 0;
    #card-event-hour, #card-event-ngo {
      opacity: 0.6;
      font-size: 14px;
      font-weight: regular;
    }
    h2 {
      width: 140%;
      font-size: 20px;
      color: $dark-green;
      margin: 10px 0 10px;
    }
    p {
      width: 140%;
      font-size: 16px;
      margin-bottom: 4px;
      .fas, .far {
        color: $dark-green;
        margin-right: 5px;
      }
    }
    a {
      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }
    .btn {
      position: relative;
      margin-top: 150% !important;
      margin-left: -10%;
      color: white;
      width: 110px;
    }
    .bookmark-like-red {
      position: relative;
      right: 5%;
    }
  }
}
