.card-event-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

}

// .card-event-index.card-photo{
//   height: 200px;
// }

.card-event-index > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  position:relative;
  // &:hover{
  //   transform: scale(1.3);
  //   transition: all 300ms ease-in-out;
  // }
}

.card-event-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-event-index p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-event-index .card-event-index-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-event-index-infos .card-event-index-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-event-index-date {
  color: $dark-green;
  p {
    font-family:$title-font;
  }
}
