.card-event-dashboard {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  padding: 0;
  margin: 15px 0px 15px 15px;
  width: 390px;

  // // //
  display: flex;
  flex-direction: column;


  .card-event-cover {
    img {
      height: 210px;
      width: 100%;
      object-fit: cover;
    }
  }
  .btn-warning {
    color: white !important;
  }
  .card-event-date {
    bottom: 22px;
    font-weight: bold;
  }
    > p {
      margin-bottom: 0px;
    }
    .event-day-highlight {
      font-size: 30px;
      margin: -8px 0 -8px 0;
    }
  .card-event-infos-dashboard {
    margin: 10px 0 15px 0;

    // // //
    flex-grow: 1;
    > div {
      height: 100%;
    }

    #card-event-hour, #card-event-ngo {
      opacity: 0.6;
      font-size: 14px;
      font-weight: regular;
    }
    h2 {
      width: 140%;
      font-size: 20px;
      color: $dark-green;
      margin: 10px 0 10px;
    }
    p {
      width: 140%;
      font-size: 15px;
      margin-bottom: 4px;
      .fas, .far {
        color: $dark-green;
        margin-right: 5px;
      }
    }
    #card-event-ngo {
      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }
    .bookmark-like-red {
      position: relative;
      left: 45%;
    }
  }
}

.card-event-dashboard {
  .event-button {
  position: relative;
  bottom: -65%;
  right: 48%;
  color: white;
  width: 110px;
  }
}

.btn-dashboard > .event-button {
  color: white;
  width: 110px;
}

.card-event-info-home .bookmark-like-red {
  position: relative;
  left: 8%;
}
