<p>Bonjour <%= @email %> !</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous informer que votre email va être remplacé par : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons pour vous informer que votre email a été remplacé par : <%= @resource.email %>.</p>
<% end %>
