<p>Bonjour <%= @resource.email %> !</p>
<!-- <p>Hello <%= @resource.email %>!</p> -->

<p>Une requête pour changer votre mot de passe a été reçue. Vous trouverez le lien pour effectuer cette action ci-dessous.</p>
<!-- <p>Someone has requested a link to change your password. You can do this through the link below.</p> -->

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
<!-- <p><%= link_to #'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p> -->

<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cet email.</p>
<!-- <p>If you didn't request this, please ignore this email.</p> -->

<p>Votre mot de passe ne sera pas modifié à moins d'utiliser le lien ci-dessus pour en créer un nouveau.</p>
<!-- <p>Your password won't change until you access the link above and create a new one.</p> -->
